In [2]:
import pandas as pd
import datetime as dt
import configparser
import logging
import os
def update_ends_meet()
    thislvPATH=os.getcwd()
    lastlvPATH=os.path.abspath(os.path.join(os.getcwd(), os.path.pardir))
    conf = configparser.ConfigParser()
    conf.read(r'{}\config.ini'.format(thislvPATH))
    now=dt.datetime.now()
    formatted_now=now.strftime("%Y_%m_%d_%H%M%S")
    asserts_excelpath  = r'{}\data\assets.xlsx'.format(lastlvPATH)
    ends_meet_excelpath  = r'{}\data\ends_meet.xlsx'.format(lastlvPATH)
    datahistory  = r'{}\data\history'.format(lastlvPATH)
    asserts=pd.read_excel(r'{}'.format(asserts_excelpath))
    asserts_month_TWD=asserts.groupby(['time'])['TWD'].sum().to_frame().reset_index()
    asserts_month_TWD=asserts_month_TWD.rename(columns={'TWD':'asserts_NT'})

    income_input=pd.read_excel(r'{}\input\income_input.xlsx'.format(lastlvPATH))
    income_input['TWD']=income_input['QTY']*income_input['TWD_exchange']
    income_month_TWD=income_input.groupby(['time'])['TWD'].sum().to_frame().reset_index()
    income_month_TWD=income_month_TWD.rename(columns={'TWD':'income_month_NT'})
    balancedf=pd.merge(asserts_month_TWD,income_month_TWD,how='left')

    ##的到上個月值欄位
    balancedf2=balancedf[balancedf['time']!=dt.datetime(2018, 10, 1)]#拿掉第一個月
    balancedf2=balancedf2.reset_index()
    balancedf2['asserts_NT_lastmonth']=balancedf['asserts_NT']
    balancedf2['expend_month_NT']=balancedf2['income_month_NT']-(balancedf2['asserts_NT']-balancedf2['asserts_NT_lastmonth'])
    balancedf2['ends_meet']=balancedf2['income_month_NT']-balancedf2['expend_month_NT']
    balancedf2.to_excel(r'{}'.format(ends_meet_excelpath),index=False)
    balancedf2.to_excel(r'{}\ends_meet_{}.xlsx'.format(datahistory,formatted_now),index=False)
    return balancedf2

In [4]:
thislvPATH=os.getcwd()
lastlvPATH=os.path.abspath(os.path.join(os.getcwd(), os.path.pardir))
conf = configparser.ConfigParser()
conf.read(r'{}\config.ini'.format(thislvPATH))
now=dt.datetime.now()
formatted_now=now.strftime("%Y_%m_%d_%H%M%S")
asserts_excelpath  = r'{}\data\assets.xlsx'.format(lastlvPATH)
ends_meet_excelpath  = r'{}\data\ends_meet.xlsx'.format(lastlvPATH)
datahistory  = r'{}\data\history'.format(lastlvPATH)
asserts=pd.read_excel(r'{}'.format(asserts_excelpath))
asserts_month_TWD=asserts.groupby(['time'])['TWD'].sum().to_frame().reset_index()
asserts_month_TWD=asserts_month_TWD.rename(columns={'TWD':'asserts_NT'})

income_input=pd.read_excel(r'{}\input\income_input.xlsx'.format(lastlvPATH))
income_input['TWD']=income_input['QTY']*income_input['TWD_exchange']
income_month_TWD=income_input.groupby(['time'])['TWD'].sum().to_frame().reset_index()
income_month_TWD=income_month_TWD.rename(columns={'TWD':'income_month_NT'})
balancedf=pd.merge(asserts_month_TWD,income_month_TWD,how='left')

##的到上個月值欄位
balancedf2=balancedf[balancedf['time']!=dt.datetime(2018, 10, 1)]#拿掉第一個月
balancedf2=balancedf2.reset_index()
balancedf2['asserts_NT_lastmonth']=balancedf['asserts_NT']
balancedf2['expend_month_NT']=balancedf2['income_month_NT']-(balancedf2['asserts_NT']-balancedf2['asserts_NT_lastmonth'])
balancedf2['ends_meet']=balancedf2['income_month_NT']-balancedf2['expend_month_NT']
balancedf2.to_excel(r'{}'.format(ends_meet_excelpath),index=False)
balancedf2.to_excel(r'{}\ends_meet_{}.xlsx'.format(datahistory,formatted_now),index=False)

In [8]:
income_input=pd.read_excel(r'{}\input\income_input.xlsx'.format(lastlvPATH))
income_input['TWD']=income_input['QTY']*income_input['TWD_exchange']
income_month_TWD=income_input.groupby(['time'])['TWD'].sum().to_frame().reset_index()
income_month_TWD=income_month_TWD.rename(columns={'TWD':'income_month_NT'})
balancedf=pd.merge(asserts_month_TWD,income_month_TWD,how='left')

##的到上個月值欄位
balancedf2=balancedf[balancedf['time']!=dt.datetime(2018, 10, 1)]#拿掉第一個月
balancedf2=balancedf2.reset_index()
balancedf2['asserts_NT_lastmonth']=balancedf['asserts_NT']
balancedf2['expend_month_NT']=balancedf2['income_month_NT']-(balancedf2['asserts_NT']-balancedf2['asserts_NT_lastmonth'])
balancedf2['ends_meet']=balancedf2['income_month_NT']-balancedf2['expend_month_NT']
balancedf2.to_excel(r'{}'.format(ends_meet_excelpath),index=False)
balancedf2.to_excel(r'{}\ends_meet_{}.xlsx'.format(datahistory,formatted_now),index=False)

,index,time,asserts_NT,income_month_NT,asserts_NT_lastmonth,expend_month_NT,Income_expenditure_balance
0,1,2018-11-01,54449,18041,118248,81840,-63799
1,2,2018-12-01,99218,45255,54449,486,44769
2,3,2019-01-01,138560,50910,99218,11568,39342
3,4,2019-02-01,148193,45274,138560,35641,9633
4,5,2019-03-01,183154,45864,148193,10903,34961
5,6,2019-04-01,209391,46340,183154,20103,26237
6,7,2019-05-01,264032,72874,209391,18233,54641
7,8,2019-06-01,299237,46420,264032,11215,35205
8,9,2019-07-01,330990,45905,299237,14152,31753
9,10,2019-08-01,366331,46400,330990,11059,35341
10,11,2019-09-01,416213,71990,366331,22108,49882
11,12,2019-10-01,436901,72770,416213,52082,20688
12,13,2019-11-01,411319,47730,436901,73312,-25582
13,14,2019-12-01,445828,47470,411319,12961,34509
14,15,2020-01-01,522326,100799,445828,24301,76498
15,16,2020-02-01,547498,46372,522326,21200,25172
16,17,2020-03-01,578895,47556,547498,16159,31397
17,18,2020-04-01,609354,47557,578895,17098,30459
18,19,2020-05-01,606594,47558,609354,50318,-2760
19,20,2020-06-01,663933,71959,606594,14620,57339
20,21,2020-07-01,657331,47558,663933,54160,-6602
21,22,2020-08-01,637403,47558,657331,67486,-19928
22,23,2020-09-01,736159,108449,637403,9693,98756
23,24,2020-10-01,748970,47558,736159,34747,12811
24,25,2020-11-01,760040,47558,748970,36488,11070
25,26,2020-12-01,758966,47588,760040,48662,-1074
26,27,2021-01-01,814177,101800,758966,46589,55211
27,28,2021-02-01,922755,121622,814177,13044,108578
28,29,2021-03-01,948146,54361,922755,28970,25391
29,30,2021-04-01,974446,54361,948146,28061,26300
30,31,2021-05-01,974755,54361,974446,54052,309
31,32,2021-06-01,1053000,104000,974755,25755,78245